{
  "include": [
    "src/**/*.route.ts",
    "src/**/*.usecase.ts"
  ],
  "extension": [
    ".ts"
  ],
  "require": [
    "ts-node/register"
  ],
  "reporter": [
    "text-summary",
    "html"
  ],
  "sourceMap": true,
  "instrument": true,
  "check-coverage": true,
  "lines": 100,
  "statements": 100,
  "functions": 100,
  "branches": 100
}